# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.npm

# Environment
.env
.env.local
.env.*.local

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~
.sublime-project
.sublime-workspace

# Build / Runtime
dist/
build/
data/

# Docker
.docker/

# Misc.DS_Store
