{$APP_HOST:localhost} {
  encode gzip

  tls internal

  # Serve static assets directly from Caddy
  handle_path /static/* {
    root * /srv/static
    file_server
  }

  @rootPath path /
  handle @rootPath {
    reverse_proxy {$UPSTREAM:net-tools-app:8080}
  }

  handle {
    reverse_proxy {$UPSTREAM:net-tools-app:8080}
  }
}

